/* BODY */
.background-image {
	background: url(./safari.png);
	background-size: auto;
	background-position: center;
	background-repeat: no-repeat;
	opacity: 0.8;
	min-height: 100%;
	width: auto;
	background-color: #EA9D2A;
}

.text-1 {
	font-style: normal;
	font-weight: normal;
	font-size: 28px;
	line-height: 44px;
	text-align: right;
}

.text-2 {
	height: 200px;
	background-color: blue;
}

/* FOOTER */
ion-icon {
	color: #6c5434;
}
